.shadow-btn {
  background-color: #e8eaf1;
  border: none;
  box-shadow:  3px 3px 6px #bfc3cf,  -3px -3px 6px #ffffff;
}

.form-control, .form-select {
  color: #7a86a3;
  border-radius: 20px !important;
  box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #ffffff;
  background-color: #ecedf1;
}

.form-control:focus, .form-select:focus {
  background-color: #ecedf1;
  box-shadow: inset 4px 4px 6px #bfc3cf, inset -4px -4px 6px #ffffff;
  border: none;
}

label {
  font-size: 13px;
  color: #7a86a3;
}

input, select, input::-webkit-input-placehoshadoelder, select::-webkit-input-placeholder {
  text-indent: 10px;
  font-size: 13px !important;
}

.proceed_button {
  border: none;
  padding: 0.6% 6%;
  background: linear-gradient(to bottom right, #737477, #e5e6eb);
}

.proceed_button:hover {
  background: transparent
  linear-gradient(276deg, rgba(13, 53, 148, 0.898039), #35d3e1) 0 0 no-repeat
  padding-box;
}
   
.card_body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* .details_box{
    height: 80px;
    width: 80px;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* .join_text {
  color: #071e54;
  font-size: 13px;
  opacity: .5;
  text-align: center; 
  float: left; 
  font-size: 14px;
} */

.head-style {
    padding-top: 70px;
    padding-bottom: 70px;
}

.custom-card {
    background: linear-gradient(to bottom right, #eff0f3, #e5e6eb);
    border: none !important;
}

.heading-center {
    color: #264a9f;
    font-size: 40px;
}

.dotted-line {
    border-right: 2px dotted #cecece;
}

@media only screen and (max-width: 768px) {
    .mDisplayNone {
        display: none!important;
    }
}

.display-none {
    display: none;
}

@media only screen and (max-width: 768px) {
    .display-none {
        display: block;
    }
}

@media (min-width: 1200px) {
    .ShadowBox img {
        width: 50px;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .mDisplayNone {
        display: none!important;
    }
}


