body {
  background-image: linear-gradient(to right, aquamarine, white);
}

h1 {
    text-align: center;
  }
  .form-group {
    margin: 15px 0px;
    padding: 5px;
  }

  .checkbox {
      margin-left: 10px;
  }

  .radio {
      margin-left: 10px;
  }


#row1 {
  padding-top: 25px;
} 

table {
  margin-top: 27px;
  margin-left: 40px;
}