body {
  background-image: linear-gradient(to right, aquamarine, white);
}

h1 {
    text-align: center;
  }
  .form-group {
    margin: 15px 0px;
    padding: 5px;
  }

  .checkbox {
      margin-left: 10px;
  }

  .radio {
      margin-left: 10px;
  }

  /* table {
    margin-top: 27px;
    justify-content: center;
    width: 70%;
    margin-left: 50px;
    border: 1px solid black;
    border-collapse: collapse;
} */


/* th, td, thead {
    padding: 15px;
    border: 2px solid black;
    border-collapse: collapse;
}
  
th {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
  }
*/
#row1 {
  padding-top: 25px;
} 