body {
  background-image: linear-gradient( #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}



/* h1 {
    text-align: center;
  } */
  /* .form-group {
    margin: 15px 0px;
    padding: 5px;
  } */

  /* .checkbox {
      margin-left: 10px;
  } */

  /* .radio {
      margin-left: 10px;
  } */


/* #row1 {
  padding-top: 25px;
}  */

/* table {
  margin-top: 27px;
  margin-left: 40px;
} */